/* #region main */

.hidden{
    display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* #endregion main */

/* #region common*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}  

@media screen and (min-width:768px) {
.container {
  max-width: 768px ;
  }
}

@media screen and (min-width:1158px) {
.container {
  max-width: 1158px ;
  padding: 0 15px;
  }
}

/* #endregion common*/

/* #region header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.nav-list, 
.contacts{
    display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
.burger-btn{
  display: none;
  }

  .header-nav {
  display: flex;
  align-items: center;
}

  .nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  padding: 24px 0;
  margin-right: 120px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current{
position: relative;
}

.nav-link.current::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  display: block;
}

.contacts-list {
  display: flex;
  flex-direction: column;  
  gap: 12px;
}

.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color:#404bbf;
}

}

@media screen and (min-width:1158px) {
.header-logo {
  margin-right: 76px;
}

.contacts-list {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
}
/* #endregion header*/

/* #region mobile-menu */
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.mobile-menu-nav{
margin-bottom: auto;
}

.mobile-nav-list{
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.mobile-nav-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em; 
    color: #2e2f42;
}

.mobile-nav-link:hover{
    color:#404bbf;
}

.mobile-nav-link.current ,
.menu-contacts-link.current{
  color: #404bbf;
}

.mobile-menu-contacts{
    display: block;
    font-style: normal;
}

.menu-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-contact-item:hover{
    color: #4d5ae5;
}

.menu-contacts-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-social-links-list{
  display: flex;      
  gap: 40px;           
  justify-content: center;  
  margin-top: 48px;   
}

.menu-social-links-item {
  width: 40px;  
  height: 40px; 
}

.menu-social-links{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-icons{
  fill:#f4f4fd;
}

.menu-social-links:hover,
.menu-social-links:focus {
  background-color: #404bbf;
}

@media screen and (min-width:768px) {
.mobile-menu{
    display: none;
}
}

/* #endregion mobile-menu */

/* #region hero */
.hero {
    padding: 72px 52px 200px ;
    background-color: #2e2f42;
    text-align: center;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    image-set(    
    url(../images/hero/hero-mob-1-min.jpg) 1x ,
    url(../images/hero/hero-mob-1@2x-min.jpg) 2x
    ) ;
    max-width: 320px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 48px;
  text-align: center;
  margin-bottom: 72px;
}

.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width:768px) {
 .hero {
    padding: 112px 136px 204px;
    max-width: 768px;
        background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    image-set(    
    url(../images/hero/hero-tab-1-min.jpg) 1x ,
    url(../images/hero/hero-tab-1@2x-min.jpg) 2x
    ) ;
  }

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  margin-bottom: 36px;
}
}

@media screen and (min-width:1158px) {
.hero {
    padding: 188px 472px 292px;
    max-width: 1440px;
        background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    image-set(    
    url(../images/hero/hero-desk-1-min.jpg) 1x ,
    url(../images/hero/hero-desk-1@2x-min.jpg) 2x
    ) ;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  margin-bottom: 48px;
}
}
/* #endregion hero */

/* #region features */

.features-icons{
    display: none;
}

.features {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-item{
    display: block;
    margin-bottom: 72px;
}

@media screen and (min-width:768px) {
.features-list {
    gap: 24px;
    row-gap: 72px;
    width: 100%;
    height: auto;
}

  .features-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .features-title-text{
    text-align: start;
  }
}

@media screen and (min-width:1158px) {
.features {
  padding: 120px 0;
}

.features-list {
  gap: 24px;
}

.features-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: start;
}

.features-text {
  font-weight: 400;
}

.features-icons{
    display: flex;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}
}

/* #endregion features */

/* #region team */

.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-card {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
  background-color: #fff; 
  width: 264px;
  align-items: center;
}

.text-container{
    padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.social-links-list {
  display: flex;      
  gap: 24px;           
  justify-content: center;  
}

.social-links-item {
  width: 40px;  
  height: 40px; 
}

.social-links {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
}

.social-icons{
  fill:#f4f4fd;
}

@media screen and (min-width:768px) {
.team-list {
    row-gap: 64px;
    column-gap: 24px;
    width: 100%;
    height: auto;
    justify-content: center;
}
}

/* #endregion team */

/* #region portfolio */

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
}

.portfolio-item:hover {
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.item-name {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.item-desc {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  color: #434455;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-desc {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item:hover .img-desc {
  transform: translateY(0%);
}

@media screen and (min-width:768px) {
.portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
    width: 100%;
    height: auto;
    justify-content: center;
}
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}

@media screen and (min-width:1158px) {
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
    width: 100%;
    height: auto;
    justify-content: center;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
}

/* #endregion portfolio */

/* #region footer */

.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
  color: #fff;
  width: 100%;
  height: auto;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 288px;
color: #f4f4fd;
text-align: left;
}

.footer-social-medias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-medias-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-links-list{
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none; 
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-icons {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-label-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-label-input {
  display: block;
   margin: 0;
}

.footer-input-form {
  flex-grow: 1;
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  outline: none;
  margin-bottom: 16px;
}

.footer-input-form::placeholder {
  color: #ffffff;
}

.footer-send-btn {
padding: 8px 24px;
width: 165px;
height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-modal-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    align-items: flex-start; 
    justify-content: flex-start;
    text-align: left; 
    flex-wrap: wrap; 
    gap: 72px 24px;
    padding: 0 108px;
  }

.footer-label-form {
  text-align: left;
}

  .footer-social-medias {
    align-items: flex-start; 
  }

  .footer-subscribe-form {
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 24px; 
  }

  .footer-input-form {
    width: 264px;
    margin-bottom: 0; 
  }
}

@media screen and (min-width: 1158px) {
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    text-align: left;
    padding: 0 15px;
  }

  .container-footer {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-subscribe-form {
    margin-left: 0;
  }

  .footer-label-form {
    margin-left: 0;
  }
}

/* #endregion footer */

/* #region modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 584px;
  border-radius: 4px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
  fill: #ffffff;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-txt {
  color: #2e2f42;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: auto;
  text-align: center;
}

.label-form {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.input-form {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 40px; 
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form::placeholder {
  color: #8e8f99;
}

.input-form:focus {
  border-color: #4d5ae5;
}

.input-form:focus + .input-icon {
  fill: #4d5ae5;
}

.text-area {
  width: 256px;
  height: 138px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area::placeholder {
  color: #8e8f99;
}

.text-area:focus {
  border-color: #4d5ae5;
}

.modal-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  color: #fff;
  min-width: 169px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

.form-group.regular-item {
  margin-bottom: 8px;
}

.form-group.comment-wrapper {
  margin-bottom: 16px;
}

.form-group.last-item {
  margin-bottom: 24px;
}

.modal-btn-pic {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  gap: 8px;
  display: inline-flex;
  align-items: center;
}

.custom-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

.checkbox-input:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
.modal{
  width: 408px;
}

.input-form {
  width: 100%;
  height: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
}
}

@media screen and (min-width: 1158px) {
  .modal{
  width: 408px;
}

  .input-form {
  width: 100%;
  height: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
}
}

/* #endregion modal */